{:deps  true
 :nrepl {:port 8777}

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/_js/compiled"
   :asset-path "/_js/compiled"
   :modules    {:app {:init-fn toggle.main/init}}
   :devtools   {:preloads [hashp.core
                           day8.re-frame-10x.preload]}
   :dev        {:compiler-options
                {:closure-defines
                 {re-frame.trace.trace-enabled? true}}}
   :release    {:build-options
                {:ns-aliases
                 {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}}}
